
/* 全体的なレイアウト*/
.main {
    background-color: #d3d3d3;
}

.position {
    width: 100%;
    padding: 20px;
    
}

/*トルネードポテト画像*/
.tornado img {
    width: 100%;
    height: 250px;
    background-color: white;
    object-fit: cover;
    object-position:60% 0%;
}

/*商品名*/
.position h1 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 10px;
}
.position p {
    font-size: 1.0rem;
    font-weight: 500;
}


/*背景色*/
.white {
    background-color: white;
}
.yellow {
    background-color: #ffd700;
}
.red {
    background-color: #ff6347;
}


/*アレルギー情報*/
.allergy h2 {
    font-size: 1.7rem;
    margin-left: 20px;
}
.allergy p {
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight:500;
    padding: 7px;
    margin-right: 10vh;
}

/* display: grid; で横並びにする */
.container {
            display: grid;
            grid-template-columns: 54% 54%;
            
        }
.container p {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-right:20%;;
    padding: 5px; 
    
}
/*画像*/
.container img {
    height: 5vh;
    object-fit: cover;
}
/*文字*/
.container span {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
}


@media (min-width: 720px){

    /*全体的なレイアウト*/
    .position{
        width: 720px;
        margin: 0 auto;
    }

    .tornado img {
        height: 500px;
    }

    /*題名*/
    .position h1 {
        font-size: 1.9rem;
    }
    .position p {
        font-size: 1.3rem;
    }


    /*アレルギー情報*/
    .allergy p {
        font-size: 1.4rem;
        margin-right: 30vh;
    }

    /* display: grid; で横並びにする */
    .container {
                grid-template-columns: 35% 35% 35%;
                
            }
    .container p {
        margin-right:20%;
        
    }
    /*画像*/
    .container img {
        height: 6vh;
    }
    /*文字*/
    .container span {
        font-size: 1.2rem;
    }
    
}

@media (min-width: 1000px){
    .tornado img {
        height: 800px;
    }
}